body{
    margin: 0;
    padding: 0;
}
.texto-centrado{
    text-align: center;
}

.header{
    background:rgb(180, 4, 4);
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    padding: .5rem;
    margin: 0 auto;
    padding: 0;
}
.header #logo{
    width: 20px;
    vertical-align: left;
}
.texto-centrado{
    text-align: center;
}
.no-margin{
    margin: 0;
}
.h1-no-margin{
    margin: 0 0 1.5rem 0;
}
.header h1{
    color: rgb(255, 166, 0);
}
.header p {
    color: rgb(0, 0, 0);
}
.titulo{
    background-color: rgb(60, 60, 255);
    padding: .2rem;
    text-align: center;
}
.titulo .span{
    color: rgb(255, 30, 0);
}